body {
      font-family: Cambria;
      background-color: #6c9a8b;
      margin: 0;
      padding: 0;
    }
header {
    background: #feefdd;
    padding: 60px;
    text-align: center;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item {
    margin: 0 15px;
}

.item a {
    text-decoration: none;
    color: #1e140b;
    font-weight: bold;
}

.item a:hover {
    color: #6c9a8b;
}

button {
    background-color: #6c9a8b;
    color: #1e140b;
    border: none;
    font-family: Cambria;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ee7674;
}
