body {
      font-family: Cambria;
      background-color: #6c9a8b;
      margin: 0;
      padding: 0;
      color: #1e140b;
      font-size: 18px;
    }
header {
    background: #feefdd;
    color: #7c0b2b;
    padding: 60px;
    text-align: center;
    font-size: 20px;
}
.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item {
    margin: 0 15px;
}

.item a {
    text-decoration: none;
    color: #1e140b;
    font-weight: bold;
}

.item a:hover {
    color: #6c9a8b;
}

button {
    background-color: #6c9a8b;
    color: #1e140b;
    border: none;
    font-family: Cambria;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ee7674;
}
.navbar {
      display: flex;
      background: transparent;
      justify-content: flex-end;
      border-radius: 30px;
      padding: 10px 20px;
      margin: 0 auto;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
}
.navbar-content {
    display: flex;
    gap: 20px;
    background: #feefdd;
    padding: 10px 20px;
    border-radius: 30px;
    align-items: center;
    font-size: 18px;
}
footer {
      text-align: center;
      padding: 15px;
      background: #eee;
      margin-top: 20px;
}


